html,
body {
  margin: 0;
  padding: 0;
  background-color: #b8e5f8;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.flex {
  display: flex;
}
.aic{
  align-items: center;
}
.jcc{
  justify-content: center;
}
.jcb{
  justify-content: space-between;
}
.jca{
  justify-content: space-around;
}
.textCenter {
  text-align: center;
}
.pointer{
  cursor: pointer;
}

.mTop10 {
  margin-top: 10px;
}

.mTop20 {
  margin-top: 20px;
}

.mTop30 {
  margin-top: 30px;
}

.mTop40 {
  margin-top: 40px;
}

.mTop50 {
  margin-top: 50px;
}

.mLeft10 {
  margin-left: 10px;
}

.mLeft20 {
  margin-left: 20px;
}

.mLeft30 {
  margin-left: 30px;
}

.mLeft40 {
  margin-left: 40px;
}

.mLeft50 {
  margin-left: 50px;
}

.mRight10 {
  margin-right: 10px;
}

.mRight20 {
  margin-right: 20px;
}

.mRight30 {
  margin-right: 30px;
}

.mRight40 {
  margin-right: 40px;
}

.mRight50 {
  margin-right: 50px;
}

.mBottom10 {
  margin-bottom: 10px;
}

.mBottom20 {
  margin-bottom: 20px;
}

.mBottom30 {
  margin-bottom: 30px;
}

.mBottom40 {
  margin-bottom: 40px;
}

.mBottom50 {
  margin-bottom: 50px;
}