@import "color";
.chart_input {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-around;
}
.chart_input Input{
  flex:1;
}
.headerBox{
  width: 100%;
  border-bottom: 1px solid #dddddd;
  background-color: #ffffff;
  .header{
    width: 1000px;
    margin:  0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    .nava{
      margin-left: 40px;
    }
    .navBox{
      display: flex;
      width: 600px;
      align-items: center;
      justify-content: space-around;
    }
    .fontSize{
      font-size: 26px;
      color: rgba(0,0,0,0.5);
    }
    .out{
      position: absolute;
      top: 42px;
      right: -35px;
      width: 100px;
      background-color: #ffffff;
      border:1px solid $border-color;
      .sanjiao{
        display: block;
        width: 12px;
        height: 12px;
        background-color: #ffffff;
        transform: rotate(45deg);
        border: 1px solid $border-color;
        position: absolute;
        top: -6px;
        left: 44px;
        border-bottom: none;
        border-right: none;
      }
      a{
        display: block;
        width: 100%;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: rgba(0,0,0,0.6);
        font-weight: bold;
        cursor: pointer;
        &:hover{
          color: $main-color;
          background-color: rgba(73, 61, 69, 0.04);
        }
      }
    }
  }
}
