.chart_input {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-around;
}
.chart_input Input{
  flex:1;
}
.headerBox{
  width: 100%;
  border-bottom: 2px solid #dddddd;
  .header{
    width: 1000px;
    margin:  0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    a{
      background-color: #2c69b4;
      margin-left: 40px;
    }
    .navBox{
      display: flex;
      width: 600px;
      align-items: center;
      justify-content: space-around;
    }
  }
}
